
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.7/js/mdb.min.js"></script>       
  <br>
</body>

  <% if (currentUsuario) { %>
    <footer style="position:absolute; " class="col-sm-12 page-footer font-small teal pt-4">
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a> Ultracero</a>
      </div>
    </footer>
  <% } else { %>
    <footer class="col-sm-12 page-footer font-small teal pt-4">
      <div class="container-fluid text-center text-md-left">
        <div class="row">
          <div class="col-md-6 mt-md-0 mt-3">
            <h5 class="text-uppercase font-weight-bold">¿Quienes somos?</h5>
            <p>Ultracero es una empresa 100% duranguense dedicada a la creación de artículos de acero inoxidable.</p>
          </div>
          <hr class="clearfix w-100 d-md-none pb-6">
          <div class="col-md-6 mb-md-0 mb-5">
            <h5 class="text-uppercase font-weight-bold">Contáctanos</h5>
              <div class="col-md-5 py-8" id="redes">
                <div class="mb-5 flex-center">
                  <a href="https://www.facebook.com/Ultracero/" id="contact">
                    <img src="https://png.icons8.com/dusk/30/000000/facebook.png"> /Ultracero
                  </a>
                  <a class="tw-ic" id="contact">
                    <img src="https://png.icons8.com/dusk/30/000000/twitter.png"> @Ultracero 
                  </a>
                  <a class="gplus-ic" id="contact">
                    <img src="https://png.icons8.com/dusk/30/000000/gmail.png"> ultracero@hotmail.com
                  </a>
                  <a id="contact">
                    <img src="https://png.icons8.com/dusk/30/000000/whatsapp.png"> 6188173333
                  </a>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a> Ultracero</a>
      </div>
    </footer>
  <% } %>
</html>