<% include _header %>
<div class="container" id="registro">
<h1 id="titulo1">Agregar productos</h1>
<form action="/addJoyas" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input name="nombre" type="text" class="form-control" placeholder="Nombre del artículo" required autofocus/>
    </div>
    <div class="form-group">
        <input name="descripcion" type="text" class="form-control" placeholder="Características del artículo" required/>
    </div>
    <div class="form-group">
        <input name="precio" type="text" class="form-control" placeholder="Precio del artículo" required/>
    </div>
    <div class="form-group">
        <input name="imagen" type="file" class="form-control" placeholder="Imagen del articulo"/>
    </div>
    <input type="submit" value="añadir" class="btn btn-primary btn-block"/>

</form>
</div>
<% include _footer %>