<% include _header %>

<div class="container" id="joyeria">
  <h1 id="titulo1"> Joyería <a href="/addJoyas" class="btn btn-light pull-right" role="button"> Agregar nuevos productos </a></h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
        <% joyas.forEach((joya) => { %>
            <tr>
                <td><%= joya.nombre %></td>
                <td><%= joya.descripcion %></td>
                <td><%= joya.precio %></td>
            </tr>
         <% }) %>
    </tbody>
  </table>
</div>

<% include _footer %>