<%include _header %>

<div class="container" id="indexjoyas">
  <div class="card" style="width: 18rem;" id="cardjoyas">
    <img class="card-img-top" src="/icons8-contactos-512.png" alt="Card image cap" width="10px" height="250px" >
    <div class="card-body">
      <a class="card-title" href="/RegistroCliente">Clientes</a>
      <p class="card-text">Lista de clientes</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;" id="cardjoyas">
    <img class="card-img-top" src="/inventario.png" alt="Card image cap" width="15px" height="270px">
    <div class="card-body">
      <a class="card-title" href="/joyas">Inventario</a>
      <p class="card-text">Inventario de joyeria</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;" id="cardjoyas">
    <img class="card-img-top" src="/inventario.png" alt="Card image cap" width="15px" height="270px">
    <div class="card-body">
      <a class="card-title" href="/ventas">Ventas</a>
      <p class="card-text">Registro de ventas en los últimos 15 días</p>
    </div>
  </div>
</div>
<%include _footer %>