<% include _header %>

<div class="container" id="venta">
<h1 id="titulo1"> Agregar nueva venta </h1>
<form action="/RegistroCliente" method="post">
    <div class="form-group">
        <input name="cliente" type="text" class="form-control" placeholder="Nombre del Cliente" required autofocus/>
    </div>
    <div class="form-group">
        <input name="precio" type="text" class="form-control"
        placeholder="Ultima compra" required/>
    </div>



    <input type="submit" value="añadir" class="btn btn-dark btn-block"/>
</form>
</div>
<% include _footer %>