<% include _header %>

<div class="container" id="venta">
<h1 id="titulo1"> Ventas en curso <a href="/newVenta" class="btn btn-light pull-right" role="button"> Agregar nevos productos </a></h1>


<table class="table">
<thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>
  <tbody>
  <% ventas.forEach((venta) => { %>
    <tr>
      <td><%= venta.cliente %></td>
      <td><%= venta.pedido %></td>
      <td><%= venta.precio %></td>
    </tr>

    <% }) %>
 
</div>
</div>
</div>
<% include _footer %>